@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="text-align: center; padding: 2rem; background-color: #f9f9f9;">
    <h1>🎉 O grande dia é hoje!</h1>
    <p class="lead">Pela primeira vez, a província do Uíge tem a honra de acolher o Microsoft .NET Conf.</p>
    <img src="https://media.licdn.com/dms/image/v2/D4D22AQFGOOSaTsophA/feedshare-shrink_2048_1536/B4DZQT14uKHUAo-/0/1735499681912?e=1739404800&v=beta&t=ej1Ml_we3JSH8DZ4Um3flZwHZA0fvn8oXvSFju5MWak" alt="Foto do Evento .NET Conf 2024 Uíge" style="max-width: 100%; height: auto; margin: 1rem 0;">
    <p class="lead">
        Serão abordados em 3 painéis temas de grande importância para o ecossistema .NET:
    </p>
    <ul style="text-align: left; max-width: 600px; margin: 0 auto; font-size: 1.1rem;">
        <li><strong>1- Uma introdução ao .NET</strong> (Por Pablo Lopes) - Cloud Advocate na Microsoft.</li>
        <li><strong>2- Metodologia Agile no universo .NET</strong> (Por Romário Nzenguele) - Docente Universitário no ISPB/Universidade Lusíada de Angola.</li>
        <li><strong>3- .NET na cloud usando Azure</strong> (Por Shalom André) - Embaixador Microsoft.</li>
    </ul>
    
</div>
